[Desktop Entry]
Name=@@NAME_LONG@@ - URL Handler
Comment=A lightweight terminal
GenericName=Terminal
Exec=@@EXEC@@ --open-url %U
Icon=@@ICON@@
Type=Application
NoDisplay=true
StartupNotify=true
Categories=System;TerminalEmulator;Utility;
MimeType=x-scheme-handler/@@URLPROTOCOL@@;
Keywords=terminal;shell;console;
